---
# Only the main Sass file needs front matter (the dashes are enough)
---

/**
 * DARK
 */

$background-color:  #262626;
$text-color:        #e6e6e6;
$grey-color-light:  #595959;  /* for the border-top separators */
$grey-color-dark:   #a6a6a6;  /* such as the site title in the header, visited */

code {
    color: #080808;
}

@import "minima";
